# test-books
test-books/

# environment files
.env

# MacOS files
.DS_Store

# Virtual environment
venv/
.venv/

# Ignore all files in the services/nextcloud directory
services/*

# Allow only the docker-compose.yaml
!services/*/docker-compose.yaml
